.nav {
  position: fixed;
  transform-origin: top left;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  max-height: 15vh;
  background: #0D0221;
  color: white;
  width: 100%;
  z-index: 15;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav-option {
 
  height: 100%;
  color: white;
  margin-top: auto;
}
.nav-option:hover {
  transition: all .2s ease-in-out;
  transform: scale3d(1.1, 1.1, 1.1);
}
.nav-options {
  display: flex;
  width: 15vw;
  margin-left: 5vw;
  flex-direction: row;
  justify-content: space-between;
}
.nav-larger {
  align-items: center;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
}