.nav {
  position: fixed;
  transform-origin: top left;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  max-height: 15vh;
  background: #0D0221;
  color: white;
  width: 100%;
  z-index: 15;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}