
.content {
  display:grid;
  height: 200vh;
  grid-template-columns: 2em 40% 1em 50%;
  grid-template-rows: 8vh [calendar-start] 0em [map-start] 70vh 20vh [recommend-start];
  grid-column-gap: 2em;
  grid-row-gap: 0.5em;
}

.map-container {
  height: 100%;
  width: 100%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: map-start;
}

.calendar-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: recommend-start;
  /* overflow-y: auto; */
  height: 100%;
  width: 100%;
}


.recommend {
  background-color: rgb(173, 216, 230, 0.8);
  position: fixed;
  top: 6.4vh;
  left: -50vh;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: recommend-start;
  z-index: 10;
  width: 84vh;
  height: 88.5vh;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2.5em;
}

.expand-recommend {
  position: fixed;
  transform-origin: left center;
  right: -3em;
  top: 38vh;
  text-align: center;
  width: 3em;
  height: 7em;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: lightseagreen;
  color: white;
  position: absolute;
}

.expand-recommend:hover {
  color: white;
  box-shadow: lightblue;
}
