
.content {
  display:grid;
  height: 100vh;
  grid-template-columns: 2em 40% 1em 50%;
  grid-template-rows: 2vh [switch-start] 5em [calendar-start] 70vh [calendar-end] 20vh [recommend-start];
  grid-column-gap: 2em;
  
}

.map-container {
  height: 100%;
  width: 100%;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: calendar-start;
  grid-row-end: calendar-end;
}

.calendar-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: calendar-start;
  grid-row-end: recommend-start;
  height: 70vh;
  width: 100%;
}

.calendar-switch {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

.recommend {
  background-color: rgb(173, 216, 230, 0.8);
  position: fixed;
  top: 11.5vh;
  left: -50vh;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: recommend-start;
  z-index: 6;
  width: 84vh;
  height: 83.5vh;
  display: flex;
  flex-wrap: wrap;
  padding-left: 2.5em;
}

.expand-recommend {
  position: fixed;
  transform-origin: left center;
  right: -3em;
  top: 40vh;
  text-align: center;
  width: 3em;
  height: 7em;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  background-color: lightseagreen;
  color: white;
  position: absolute;
}

.expand-recommend:hover {
  color: white;
  box-shadow: lightblue;
}

