$dark: #003559;
.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  // overflow-y: hidden;
  
}
.content {
  background-color: #f2f2f2;
}

// .main::before {
//   width: 100vw;
//   height: 100vh;
//   background-size: auto;
//   background-image: url('../../images/landing_page.jpg');
//   background-repeat: no-repeat;
  
// }

// .main::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   filter: blur(20px);
//   z-index: -1;
//   text-align: center;
//   height: 105vh;
//   width: 100vw;
  
// }

.main {
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 0;

}

@import '~bootstrap/scss/bootstrap';